{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{link Homepage:default}</loc>
    </url>
    <url>
        <loc>{link News:default}</loc>
    </url>
    <url>
        <loc>{link BasicInformations:default}</loc>
    </url>
    <url>
        <loc>{link Contact:default}</loc>
    </url>
    <url>
        <loc>{link History:default}</loc>
    </url>
    <url>
        <loc>{link OfficialDesk:default}</loc>
    </url>
    <url>
        <loc>{link Photogallery:default}</loc>
    </url>
    <url>
        <loc>{link Tourists:default}</loc>
    </url>
    <url>
        <loc>{link Homepage:rss}</loc>
    </url>
    {foreach $sitemap as $s}
        <url>
            <loc>{link News:show $s->id}</loc>
        </url>
    {/foreach}
</urlset>
